.oskar1{
text-align: center;
font-size: 15px;
}
.osk123{
text-align: center;
}
body{
background-color: burlywood

}
.films123{
text-align: center;

}
li{
    padding: 10px;
}
li:hover{
color: white;

}
li:visited{

    color: red
}
h2{
text-align: center;

}
a{
text-decoration: none;


}